@use "sass:map";

$enable-caret: false;
$font-family-base:
  "Montserrat",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif;
$font-family-sans-serif: $font-family-base;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$dropdown-padding-y: 0;
$component-active-bg: transparent;
$component-active-color: $white;
$dropdown-dark-link-hover-bg: rgba($white, 0.15);
$dropdown-dark-link-hover-color: $white;
$dropdown-dark-link-active-bg: transparent;
$dropdown-dark-link-active-color: $white;
$dropdown-link-active-bg: transparent;
$dropdown-link-active-color: $white;

$scrollbar: (
  thumb: #c1c1c1,
  thumb-hover: #a8a8a8,
  track: transparent,
);

$touch-actions: (
  root: pan-x pan-y,
  html: pan-y,
);

$input-border-color: $gray-800;
$input-focus-bg: $white;
$input-focus-border-color: $gray-900;
$input-focus-color: $body-color;
$input-focus-width: 0.25rem;
$input-focus-box-shadow: 0 0 0 $input-focus-width rgba($gray-900, 0.25);
$input-btn-focus-width: 0.25rem;
$input-btn-focus-color: rgba($gray-900, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-focus-width $input-btn-focus-color;

$form-select-border-color: $gray-800;
$form-select-focus-border-color: $gray-900;
$form-select-focus-width: $input-focus-width;
$form-select-focus-box-shadow: $input-focus-box-shadow;
$form-select-indicator-color: $gray-800;
$form-select-indicator-active-color: $gray-900;
$form-select-bg-position: right $form-select-padding-x center;
$form-select-bg-size: 16px 12px;
$form-select-transition: $input-transition;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap/scss/bootstrap";

@mixin appearance-none {
  all: unset;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: map.get($scrollbar, track);
  }

  &::-webkit-scrollbar-thumb {
    background-color: map.get($scrollbar, thumb);
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;

    &:hover {
      background-color: map.get($scrollbar, thumb-hover);
    }
  }

  scrollbar-width: thin;
  scrollbar-color: map.get($scrollbar, thumb) map.get($scrollbar, track);
}

:root {
  height: 100%;
  touch-action: map.get($touch-actions, root);
  font-family: $font-family-base;
}

body {
  font-family: $font-family-base !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  @include scrollbar;
}

html {
  touch-action: map.get($touch-actions, html);
  scroll-behavior: smooth;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include appearance-none;
    margin: 0;
  }

  &[type="number"] {
    @include appearance-none;
  }

  &[type="search"] {
    &::-webkit-search-cancel-button,
    &::-ms-clear {
      cursor: pointer;
    }
  }
}

img {
  pointer-events: none;
  @include user-select-none;
}

.placeholder-light {
  &::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hover-underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
